/* Start variables */
:root{
    --mine-color:#00bfff;
    --main-transition:.3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --sction-color:#ececec;
}
/* End variables */
/* Start Global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    /* margin: 0;
    padding: 0; */

}
html{
    scroll-behavior: smooth;
}

 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screen */
@media (min-width:768px) {
    .container{width: 750px;}
}
/* medium screen */
@media (min-width:992px){
    .container{width: 970px;}
}
/* large screen */
@media (min-width:1200px){
    .container{width: 1170px;}
}
.main-header {
    font-size: 30px;
    margin: 0 auto 80px;
    position: relative;
    width: fit-content;
    border: 2px solid black;
    padding: 10px 20px;
    font-weight: bold;
    transition: .4s;
    z-index: 1;
}
.main-header:hover{
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}
.main-header::before,
.main-header::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--mine-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s;
    z-index: 1;
}
.main-header::after{
    right: -30px;
}
.main-header::before{
    left: -30px;
}
.main-header:hover:after{
    animation: right-fill .5s linear forwards;
    z-index: -1;
}
.main-header:hover::before{
    animation: left-fill .5s linear forwards;
    z-index: -1;
}
/* End Global rules */
/* Start Header */
header{
    box-shadow: 0 0 10px #ddd; /*10101*/
    position: relative; 
}
header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;/*10101 */
    position: relative;
}
header .container .logo {
    font-weight: bold;
    font-size: 20px;
    height: 72px;
    color: var(--mine-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
@media (max-width:767px){
    header .container .logo{
        width: 100%;
    }
}
header .container .links {
    display: flex;
    list-style: none;
    margin: 0;
}
@media (max-width:767px){
    header .container .links {
        margin: auto;
    }
}
header .container .links > li {
    padding: 24px 15px;
    /* position: relative; */
}
@media (max-width:767px){
    .container .links > li{
        padding: 7px;
    }
}
header .container .links > li > a{
    font-size: 20px;
    color: black;
    position: relative;
}
@media (max-width:767px){
    header .container .links > li > a{
        font-size: 14px;
    }
}
header .container .links > li > a:hover{
    color: var(--mine-color)
}
header .container .links > li > a::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 0;
    height:4px;
    background-color: var(--mine-color);
    width: 0;
    transition: var(--main-transition);
}
header .container .links a:hover::before{
    width: 100%;
}
header .mega{
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    gap: 40px;
    padding: 30px;
    justify-content: space-between;
    background-color: white;
    top: 100px;
    opacity: 0;
    border-bottom: 4px solid var(--mine-color);
    transition: var(--main-transition);
    z-index: -1;
}
@media (max-width:767px){
    header .mega{
        display: block;
        padding: 2px;
    }
}
header .container .links li:last-child:hover .mega{
    opacity: 100;
    top: 70px;
    z-index: 1;
}
@media (max-width:767px){
    header .container .links li:last-child:hover .mega{
        top: 130px;
    }
}
header .mega img{
    max-width: 100%;
}
@media (max-width:991px){
    header .mega img{
        display: none;
    }
}
header .mega .url a{
    padding: 20px;
    color: var(--mine-color);
    display: block;
    font-size: 18px;
    width: 250px;
    transition: var(--main-transition);
}
header .mega .url li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width:767px){
    header .mega .url li{
        border-top:1px solid #e9e6e6 ;
    }
}
header .mega .url li{
    position: relative;
}
header .mega .url li::before{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    transition: var(--main-transition);
    background-color: #fafafa;
}
header .mega .url li:hover::before{
    width: 100%;
}
/* End Header */
/* Start Landing */
.landing{
 position: relative;
 overflow: hidden;
}
.landing::before{
    transform-origin: top left;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--sction-color);
    position: absolute;
    z-index: -1;
    transform: skewY(-6deg);
}
.landing .container{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
}
.landing .text{
    flex: 1;
}
@media (max-width:991px){
    .landing .text{
        text-align: center;
    }
}
.landing .text h1{
    font-size: 36px;
    letter-spacing: -2px;
    margin: 0;
}
.landing .text p{
    line-height: 38px;
    font-size: 22px;
    margin: 8px 0 0;
    color: #666;
}
@media (max-width:767px){
    .landing .text h1{
        font-size: 24px;
    }
}
@media (max-width:767px){
    .landing .text p {
        line-height: 22px;
        font-size: 11px;
        margin: 7px 19px 0;
        color: #666;
    }
}
.landing .image img{
    width: 600px;
    animation: up-and-down 5s linear infinite ;
    position: relative;
}
@media (max-width:991px){
    .landing .image img{
        display:none;
    }
}
.landing a i{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--mine-color);
    animation: i-dowen 1s linear infinite ;
}
@media (max-width:767px){
    .landing a i{
        font-size: 20px;
    }
}
/* End Landing */
/* start articles */
.articels{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}
.articels .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.articels .box {
    box-shadow: 0 0 10px #00000029;
    transition: var(--main-transition);
    border-radius: 5px;
    overflow: hidden;
}
.articels .box:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px #00000087;
    animation: arrow ;
}
.articels .box img{
    max-width: 100%;
}
.articels .content{
    padding: 15px;
}
.articels .content p {
    padding: 10px 0;
    line-height: 1.6;
    color: #777;
}
.articels .info {
    border-top: 1px solid #e6e6e7;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articels .info a {
    font-weight: bold;
    font-size: 17px;
    color: var(--mine-color);
}
.articels .info i {
    color: var(--mine-color);
    font-size: 20px;
}
.articels .box:hover i {
    animation: arrow .5s linear infinite;
}
/* end articles */
/* start gallery  */
.gallery {
    background-color: var(--sction-color);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .box{
    background-color: white;
    box-shadow:0 0 10px #00000036;
    padding: 10px;
}
.gallery .container .box .image{
    overflow: hidden;
    position: relative;
    overflow: hidden;
}
.gallery .container img{
    width: 100%;
    transition: var(--main-transition);
}
.gallery .container .image::before {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgb(255 255 255 / 20%);
    z-index: 1;
    width: 0;
    height: 0;
}
.gallery .container .box:hover img{
    transform: rotate(5deg) scale(1.2);
}
.gallery .container .box:hover ::before{
    animation: flash .7s;
}
/* end gallery  */
/* start Features */
.Features{
    background-color: white;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}
.Features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.Features .container > div{
    border: 1px solid rgb(204, 204, 204);
}
.Features .container .image {
    position: relative;
    overflow: hidden;
}
.Features .container .image img{
    max-width: 100%;
}
.Features .container .quallity .image::before,
.Features .container .time .image::before,
.Features .container .passion .image::before{
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.Features .container .image::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white;
    transition: var(--main-transition);
}
.Features .container > div:hover .image::after{
    border-width: 0px 500px 170px 500px ;
}
.Features .container .quallity .image::before{
    background-color: rgba(244, 64, 54, 0.6);
}
.Features .container .time .image::before{
    background-color: rgba(3, 169, 244, 0.6);
}
.Features .container .passion .image::before{
    background-color: rgba(0, 150, 136, 0.6)
}
.Features .container > div > h2{
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}
.Features .container > div > h2::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}
.Features .container .quallity > h2::before{
    background-color: rgb(244, 64, 54);
}
.Features .container .time h2::before{
    background-color: rgb(0, 150, 136);
}
.Features .container > .passion h2::before{
    background-color: rgb(3, 169, 244);
}
.Features .container p {
    margin: 62px 0;
    font-size: 20px;
    line-height: 2;  
    color: rgb(119, 119, 119);
    text-align: center;  
    padding: 25px;
}
.Features .container a {
    background-color: transparent;
    border: 3px solid black;
    display: block;
    width: fit-content;   
    margin: 0 auto 30px;    
    border-radius: 5px;   
    padding: 10px 30px;
    position: relative;
    font-weight: bold;
}
.Features .container > div:hover a{
    color: white;
    z-index: 1;
}
.Features .container a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: var(--main-transition);
    z-index: -1;
}
.Features .container > div:hover a::before{
    width: 100%;
}
.Features .container .quallity a::before{
    background-color: rgb(244, 64, 54);
}
.Features .container .time a::before{
    background-color: rgb(0, 150, 136);
}
.Features .container .passion a::before{
    background-color: rgb(3, 169, 244);
}
.Features .container .quallity a{
    color: rgb(244, 64, 54);
    border-color:rgb(244, 64, 54) ;
}
.Features .container .time a{
    color: rgb(0, 150, 136);
    border-color: rgb(0, 150, 136);
}
.Features .container .passion a{
    color: rgb(3, 169, 244);
    border-color:rgb(3, 169, 244); 
}
/* end Features */
/* start testimonials */
.testimonials{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
    background-color: var(--sction-color);
}
/* @media (max-width:767px){
    .testimonials .main-header{
        font-size: 30px;
    }
} */
.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .container .box{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    position: relative;
}
.testimonials .container .box img {    
    width: 100px;    
    height: 100px;    
    position: absolute;    
    top: -50px;    
    right: -10px;    
    border-radius: 50%;    
    border: 10px solid var(--sction-color);
}
.testimonials .container .text{
    color: #777;
    display: block;
    margin: 10px 0;
}
.testimonials .container .box .rate i{
    color: gold;
}
.testimonials .container .box p{
    color: #777;
    margin: 10px 0 0 0 ;
    line-height: 1.5;
}
/* end testimonials */
/* start team members */
.team-members{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}
/* @media (max-width:767px){
    .team-members .main-header{
        font-size: 30px;
    }
} */
.team-members .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team-members .box{
    position: relative;
}
.team-members .box::before{
    content: "";
    width: calc(100% - 60px );
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
    z-index: -1;
}
.team-members .box img{
        width: calc(100% - 60px);
        transition: var(--main-transition);
        border-radius: 10px;
}
.team-members .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team-members .box .social{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team-members .box .social a{
    color: #777;
    transition: var(--main-transition);
}
.team-members .box .social a .fa-facebook-f:hover{
    color: rgba(0, 0, 255, 0.842);
}
.team-members .box .social a .fa-twitter:hover{
    color: rgb(0, 102, 255);
}
.team-members .box .social a .fa-linkedin-in:hover{
    color: rgb(25, 0, 255);
}
.team-members .box .social a .fa-youtube:hover{
    color: rgb(255, 0, 0);
}
.team-members .info {
    padding-left: 80px;
}
.team-members .info h3 {
    font-weight: bold;
    color: var(--mine-color);
    font-size: 22px;
    margin: 15px 0;
}
.team-members .info p {
    padding-bottom: 20px;
}
/* end team members */
/* start services */
.services{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(--sction-color);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
     0 2px 4px 0 rgb(0 0 0 / 12%);
     transition: var(--main-transition);
     position: relative;
}
.services .box::before{
    content: "";
    width: 0%;
    background-color: var(--mine-color);
    position: absolute;
    height: 3px;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.services .box:hover::before{
    width: 100%;
}
.services .box:hover{
    transform: translateY(-10px);
}
.services .box i{
    margin: 30px auto 20px;
    display: block;
    text-align: center;
    color: #d5d5d5;
}
.services .box h3{
    text-align: center;
    color: var(--mine-color);
    font-size: 25px;
    margin: 20px 0 40px;
}
.services .info{
    text-align: right;
    padding: 15px;
    background-color: #f9f9f9;
    position: relative;
}
.services .info a{
    color: var(--mine-color);
}
.services .info a::before{
    content: "";
    height: 100%;
    width: 80px;
    background-color:var(--mine-color);
    position: absolute;
    left: 0;
    top: 0;
}
.services .info a::after{
    content: "";
    height: 100%;
    width: 60px;
    top: 0;
    position: absolute;
    left: 66px;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}
/* end services */
/* start our skils */
.our-skils{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}
.our-skils .container{
    display: flex;
    align-items: center;
}
@media (max-width:991px){
    .our-skils .container img{
        display: none;
    }
}
.our-skils .skills{
    flex: 1;
}
.our-skils .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our-skils .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 8px;
    width: 40px;
    color: var(--mine-color);
}
.our-skils .skill .progress{
    background-color: #eee;
    position: relative;
    height: 25px;
}
.our-skils .skill .progress span{
    background-color: var(--mine-color);
    position: absolute;
    height: 100%;
}
/* end our skils */
/* start works */
.work{
    padding-bottom: var(--padding-bottom);
    padding-top: var(--padding-top);
    background-color: var(--sction-color);
    position: relative;
}
.work .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work .container img{
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width:991px){
    .work .container img{
        display: none;
    }
}
.work .box{
    display: flex;
    background-color: #f6f5f5;
    margin-bottom: 20px;
    padding: 30px;
    align-items: center;
    position: relative;
    border: 2px solid white;
    border-radius: 6px;
    z-index: 1;
}
.work .box::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    width: 0;
    height: 0;
    transition: var(--main-transition);
    z-index: -1;
}
.work .box:hover::before{
    width: 100%;
    height: 100%;
}
.work .box img{
    width: 64px;
    margin-right: 30px;
}
.work .box h3{
    font-size: 21px;
}
.work .box p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
/* end works  */
/* sart Events */
.events{
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}
.events .image-point{
    background-image: url(../images/dots.png);
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
@media (max-width:991px){
    .events .image-point{
        display: none;
    }
}
.events .up{
    right: 0;
    top: 200px;
}
.events .down{
    left: 0;
    bottom: 200px;
}
.events .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.events img{
    max-width: 450px;
}
@media (max-width:991px){
    .events img{
        display: none;
    }
}
.events .info{
    flex: 1;
}
.events .time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto
}
.events .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
}
.events .time span{
    display: block;
}
.events .unit:hover {
    border-color: var(--mine-color);
}
.events .time span:first-child{
    font-size: 35px;
    padding: 15px;
    color: var(--mine-color);
    font-weight: bold;
}
.events .time span:last-child{
    border-top: 1px solid #d4d4d4;
    padding: 5px 0;
    transition: var(--main-transition);
}
.events .unit:hover span{
    border-top-color: var(--mine-color);
}
.events .title{
    text-align: center;
    margin: 40px auto;
}
.events .description{
    text-align: center;
    color: #777;
    line-height: 1.7;
}
.events .subscribe{
    width: 100%;
    margin-top: 50px;
}
.events .subscribe form{
    background-color: #f6f5f5;
    display: flex;
    gap: 15px;
    margin: 20px auto;
    width: 600px;
    padding: 30px 40px;
    border-radius: 50px;
}
@media (max-width:767px){
    .events .subscribe form{
        gap: 10px;
        display: flex;
        flex-direction: column;
        background-color: #f6f5f5;
        padding: 15px;
        border-radius: 20px;
        width: 320px;
    }
}
.events .subscribe form input[type="Email"]{
    border: none;
    padding: 24px;
    border-radius: 40px;
    flex: 1;
    outline: none;
}
@media (max-width:767px){
    .events .subscribe form input[type="Email"]{
        border: none;
        padding: 15px 10px;
        border-radius: 50px;
    }
}
.events .subscribe form input[type="submit"]{
    border: none;
    background-color: var(--mine-color);
    border-radius: 50px;
    padding: 15px;
    color: white;
}
@media (max-width:767px){
    .events .subscribe form input[type="submit"]
    {
        border: none;
        background-color: var(--mine-color);
        padding: 5px;
        border-radius: 20px;
        color: white;
    }
}
.events .subscribe form input[type="submit"]:hover{
    background-color: #00bfffee;
}
/* end Events */
/* start pricing */
.pricing{
    padding-bottom: var(--padding-bottom);
    padding-top: var(--padding-top);
    background-color: var(--sction-color);
    position: relative;
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.pricing .box{
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 21%);
    text-align: center;
    transition: var(--main-transition);
    z-index: 1;
    position: relative;
}
.pricing .box::after,
.pricing .box::before{
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    z-index: -1;
}
.pricing .box::after{
    bottom: 0;
    right: 0;
}
.pricing .box::before{
    left: 0;
    top: 0;
}
.pricing .box.offer{
    position: relative;
    top: -25px;
}
.pricing .box:hover:after,
.pricing .box:hover:before{
    height: 50%;
    width: 100%;
}
@media (max-width:767px){
    .pricing .box.offer{
        top: 0;
    }
}
.pricing .box.offer .lable{
    position: absolute;
    right: 25px;
    writing-mode: vertical-rl;
    background-color: var(--mine-color);
    color: white;
    padding: 10px;
    font-size: 17px;
    height: 166px;
    font-weight: 600;
}
.pricing .box.offer .lable::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent white;
}
.pricing .box .title{
    font-size: 30px;
    font-weight: bold;
    margin: 30px auto;
}
.pricing .box img{
    max-width: 80px;
}
.pricing .box .price{
    margin-bottom: 25px;
}
.pricing .box .price .amount{
    display: block;
    font-weight: bold;
    font-size: 60px;
    color: var(--mine-color);
    margin-top: 30px 0 5px;
}
.pricing .box .price .time{
    color: #777;
}
.pricing .box ul{
    text-align: left;
}
.pricing .box li{
    padding: 20px ;
    border-top: 1px solid #eee;
    position: relative;
}
.pricing .box li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--mine-color);
}
.pricing .box a{
    display: block;
    margin: 30px auto 40px;
    color: var(--mine-color);
    border: 1px solid var(--mine-color);
    width: fit-content;
    font-weight: 700;
    padding: 15px 20px;
    transition: var(--main-transition);
    border-radius: 10px;
}
.pricing .box a:hover{
    background-color: var(--mine-color);
    color: white;
}
/* end pricing */
/* start videos */
.video{
    padding-bottom: var(--padding-bottom);
    padding-top: var(--padding-top);
    position: relative;
}
.video .section{
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    background-color: var(--sction-color);
}
@media (max-width:767px){
    .video .section{
        display: block;
    }
}
.video .section .name{
    padding: 20px;
    background-color: #f4f4f4;
    color: var(--mine-color);
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.video .section .name i{
    cursor: pointer;
}
.video .section ul li{
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ddd;
    cursor: pointer;
}
.video .section ul li:hover{
    color: var(--mine-color);
}
.video .section ul li span{
    display: block;
    margin-top: 10px;
    color: #777;
}
.video .vid{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video .vid img{
    max-width: 100%;
}
.video .vid .info{
    padding: 20px;
    background-color: white
}
@media (max-width:767px){
    .video .vid .info{
        margin-top: 10px;
        padding: 12px;
    }
}
/* end videos */
/* start stats */
.stats{
    padding-bottom: var(--padding-bottom);
    padding-top: var(--padding-top);
    position: relative;
    background-image: url(../images/stats.jpg);
    background-size: cover;
    min-height: 300px;
}
.stats::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #ffffffe8;
}
.stats h2{
    font-size: 30px;
    margin: 0 auto 80px;
    position: relative;
    width: fit-content;
}
.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    z-index: -1;
}
.stats .container .box{
    padding: 30px 15px;
    background-color: white;
    text-align: center;
    position: relative;
    transition: var(--main-transition);
}
.stats .container .box::after,
.stats .container .box::before{
    content: "";
    position: absolute;
    height: 0%;
    width: 2px;
    background-color: var(--mine-color);
    transition: 1s;
}
.stats .container .box::after{
    left: 0;
    bottom: 0;
}
.stats .container .box::before{
    right: 0;
    top: 0;
}
.stats .container .box:hover:after,
.stats .container .box:hover::before{
    height: 100%;
}
.stats .box i{
    display: block;
    margin: 15px auto;
}
.stats .box .number{
    display: block;
    font-size: 40px;
    font-weight: bold;
}
.stats .box .text{
    display: block;
    margin: 12px auto 0;
    font-style: italic;
    font-size: 17px;
    font-weight: 800;
    color: var(--mine-color);
}
/* end stats */
/* start discount */
.discount{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
.discount .image{
    flex-basis: 50%;
    position: relative;
    background-image: url(../images/discount-background1.jpg);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: change-background 10s linear infinite;
}
@media (max-width:991px){
    .discount .image{
        flex-basis: 100%;
    }
}
.discount .image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    top: 0;
    left: 0;
    z-index: 1;
}
.discount .image .count{
    padding: 0 25px;
    text-align: center;
    z-index: 1;
}
.discount .image .count h2{
    font-size: 35px;
    letter-spacing: -3px;
}
.discount .image .count p{
    max-width: 450px;
    line-height: 1.7;
    font-weight: 500;
    padding: 5px 0;
}
.discount .image .count img{
    width: 300px;
    max-width: 100%;
}
.discount .form{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:991px){
    .discount .form{
        flex-basis: 100%;
    }
}
.discount .form form input{
    display: block;
    width: 111%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--mine-color);
}
.discount .form form textarea{
    resize: none;
    height: 200px;
    background-color: #f9f9f9;
    border: none;
    padding: 9px;
    width: 111%;
    margin-bottom: 20px;
}
/* end discount */
/* start footer */
footer{
    background-color: #191919;
    position: relative;
    padding: 70px 0 0;
    color: white;
}
footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .box h2{
    color: white;
    font-size: 25px;
    margin: 0 0 20px;
}

footer .box .social {
    display: flex;
}
@media (max-width:767px){
    footer .box .social{
        justify-content: center;
    }
}
footer .box .social li {
    margin-right: 10px;
}
footer .box .social a{
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 20px;
    height: 20px;
    color: #b9b9b9;
    transition: var(--main-transition);
}
footer .box .social li .facebook:hover{
    background-color: #1877f2;
}
footer .box .social li .twitter:hover{
    background-color: #1da1f2;
}
footer .box .social li .youtube:hover{
    background-color: #ff0000;
}
footer .box p{
    font-size: 14px;
    font-weight: 100;
    line-height: 2;
}
footer .box .links li{
    padding: 15px 0;
    transition: var(--main-transition);
}
footer .box .links li a{ 
    color: white;
    font-weight: 100;
    transition: var(--main-transition);
}
footer .box .links li a::before{
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--mine-color);
}
footer .box .links li a:hover{
    margin-left: 10px;
}
footer .box .links li:not(:last-child){
    border-bottom: 1px solid white;
}
footer .box .line{
    display: flex;
    margin-bottom: 40px;
}
footer .box .line i{
    font-size: 30px;
    color: var(--mine-color);
    margin-right: 15px;
}
@media (max-width:767px){
    footer .box .line {
        flex-direction: column;
        align-items: center;
    }
}
footer .box .line .info{
    font-weight: 100;
    line-height: 1.7;
} 
footer .box .line .info span{
    display: block;
    margin: 0;
    padding: 0;
}
footer .box.image-footer img{
    width: 75px;
    max-width: 100%;
    border: 5px solid white;
}
footer .copyright{
    width: 100%;
    margin: 50px 0 0;
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid #444;
}
@media (max-width:767px){
    footer .box .links li,
    footer .box h2,
    footer .box p,
    footer .box .line .info{
        text-align:center;
    }
}
/* end footer */
/* start animation */
@keyframes i-dowen{
    0%, 10%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%, 60%{
        transform: translateY(-15px);
    }
}
@keyframes up-and-down{
    0%, 100% {
        top: 0;
    }
    50%{
        top: -50px;
    }
} 
@keyframes right-fill{
    50%{
        right: 0;
        width: 15px;
        height: 15px;
    }
    100%{
        right: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes left-fill{
    50%{
        left: 0;
        width: 15px;
        height: 15px;
    }
    100%{
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes arrow {
    100%{
        transform: translateX(8px);
    }
}
@keyframes flash {
    0%,
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 200%;
      height: 200%;
    }
}
@keyframes change-background{
    
    0%,
    100%{
        background-image: url(../images/discount-background1.jpg);
    }
    50%{
        background-image: url(../images/discount-background2.jpg);
    }
}
/* end animation */
